<!DOCTYPE html>
<html lang="en">

<head>
    <title> <%= PageTitle  %> </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/views/resources/images/Booker Logo.png" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">    <link rel="stylesheet" href="/views/resources/css/animate.css">
    <link rel="stylesheet" href="/views/resources/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/views/resources/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/views/resources/css/magnific-popup.css">
    <link rel="stylesheet" href="/views/resources/css/flaticon.css">
    <link rel="stylesheet" href="/views/resources/css/style.css">

</head>

<body>

    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <p class="mb-0 phone pl-md-2">
                        <a href="#" class="mr-2"><span class="fa fa-phone mr-1"></span> +2 0123456789</a>
                        <a href="#"><span class="fa fa-paper-plane mr-1"></span> Booker@gmail.com</a>
                    </p>
                </div>
                <div class="col-md-6 d-flex justify-content-md-end">
                    <div class="social-media mr-4">
                        <p class="mb-0 d-flex">
                            <a href="https://www.facebook.com" class="d-flex align-items-center justify-content-center"><span
                                    class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                            <a href="https://twitter.com" class="d-flex align-items-center justify-content-center"><span
                                    class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                            <a href="https://www.instagram.com" class="d-flex align-items-center justify-content-center"><span
                                    class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                            <a href="https://www.pinterest.com" class="d-flex align-items-center justify-content-center"><span
                                    class="fa fa-pinterest"><i class="sr-only">Pinterest</i></span></a>
                            <a href="https://www.linkedin.com" class="d-flex align-items-center justify-content-center"><span
                                    class="fa fa-linkedin"><i class="sr-only">LinkedIn</i></span></a>
                        </p>
                    </div>
                    <% if ( typeof isAuthenticated === 'undefined') { %>
                    <div class="reg">
                        <p class="mb-0"><a href="/" class="mr-2">Sign Up</a> <a href="/">Log In</a></p>
                    </div>
                    <% } else { %>
                    <div class="reg">
                        <p class="mb-0"> <% if (is_admin==1) { %> <a href="/add-new-book" class="mr-2" title="Add a New Book"><i class="fa fa-plus-circle" aria-hidden="true"></i></a> <% } %>  <a href="#" class="mr-2"><%= name %></a> <a href="/logout">Logout</a></p>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/index">booker</a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/index" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/products/1" class="nav-link">Browse</a></li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Genres</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="http://localhost:3000/Genres/Biographies">Biographies & Memoirs</a>
                            <a class="dropdown-item" href="http://localhost:3000/Genres/Science Fiction">Science Fiction</a>
                            <a class="dropdown-item" href="http://localhost:3000/Genres/Fantasy">Fantasy</a>                           
                            <a class="dropdown-item" href="http://localhost:3000/Genres/children">children</a>
                            <a class="dropdown-item" href="http://localhost:3000/products/1">View All</a>
                        </div>
                    </li>
                    <li class="nav-item	"><a href="/Top-Rated" class="nav-link">Top Rated</a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                    <li><form class="form-inline my-2 my-lg-0" method="GET">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search" value="" oninput="javascript: form.action='/search/' + value ;">
                    <span class="fa fa-search"></span>
                    </form></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <section class="hero-wrap hero-wrap-2" style="background-image: url('/views/resources/images/books-on-shelf-in-library-256517.jpg');"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate mb-5 text-center">
                    <p class="breadcrumbs mb-0"><span class="mr-2"><a href="/">Home <i
                                    class="fa fa-chevron-right"></i></a></span> <span> <%= PageTitle  %> <i
                                class="fa fa-chevron-right"></i></span></p>
                    <h2 class="mb-0 bread"><%= PageTitle  %></h2>
                </div>
            </div>
        </div>
    </section>