<%- include('./includes/header.ejs') %>
    <section class="ftco-intro">
    	<div class="container">
    		<div class="row no-gutters">
    			<div class="col-md-4 d-flex">
    				<div class="intro d-lg-flex w-100 ftco-animate">
    					<div class="icon">
    						<span class="flaticon-support"></span>
    					</div>
    					<div class="text">
    						<h2>24/7 Service</h2>
    						<p>Website is available at anytime</p>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-4 d-flex">
    				<div class="intro color-1 d-lg-flex w-100 ftco-animate">
    					<div class="icon">
    						<span class="flaticon-cashback"></span>
    					</div>
    					<div class="text">
    						<h2>No payment</h2>
    						<p>As we don't sell books</p>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-4 d-flex">
    				<div class="intro color-2 d-lg-flex w-100 ftco-animate">
    					<div class="icon">
    						<span class="flaticon-free-delivery"></span>
    					</div>
    					<div class="text">
    						<h2>Totaly Free</h2>
    						<p>Our website presents a free books Browsing without Ads</p>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section ftco-no-pb">
			<div class="container">
				<div class="row">
					<div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url(/views/resources/images/about.jpg);">
					</div>
					<div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
	          <div class="heading-section">
	          	<span class="subheading"><b>Booker</b></span>
	            <h2 class="mb-4">You deserve the best</h2>

	            <p><b>Booker</b> is a free Website made specially for you to help find the best books in any category that suits you.</p>
	            <p><b>Booker Team</b>wish to help their clients and offer them a simple and best reading experience.</p>
	            <p class="year">
					<strong class="number" data-number="2">0</strong>
					<strong class="number" data-number="0">0</strong>
                    <strong class="number" data-number="2">0</strong>
                    <strong class="number" data-number="0">0</strong>
		            <span>First deployment Year</span>
	            </p>
	          </div>

					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section">
			<div class="container">
            <h2><b>contact us:</b></h2>
            <h3>Address: Street Suburb State Port Fouad Port Said Egypt</h3>
            <h3>LandLine: +2 (066) 3484282</h3>
            <h3>Fax: +2 (066) 3427037</h3>
            <h3>Mobile: +2 0123456789</h3>
            <h3>Zip Code: 42526</h3>
            <h3>E-MAIL: Booker@gmail.com</h3>
            <h3><a href="https://goo.gl/maps/CKfLBHwWV8uRQydA7">Get Directions On Map</a> </h3>
            <img src="/views/resources/images/location.jpg" width="100%" alt="location">
			<div class="credits">                
                <br><br><h2><b>Credits:</b></h2> 
                <h1>Meet The Team</h1><br></div>
				<div class="row">
					<div class="col-lg-2 col-md-4 ">
						<div class="sort w-100 text-center ftco-animate">
							<div class="img" style="background-image: url(/views/resources/images/Ahmed-Ismail.jpg);"></div>
							<h3>Ahmed Ismail</h3>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 ">
						<div class="sort w-100 text-center ftco-animate">
							<div class="img" style="background-image: url(/views/resources/images/Ahmad-Hussein.jpg);"></div>
							<h3>Ahmad Hussein</h3>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 ">
						<div class="sort w-100 text-center ftco-animate">
							<div class="img" style="background-image: url(/views/resources/images/Amr-Ali.jpg);"></div>
							<h3>Amr Ali</h3>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 ">
						<div class="sort w-100 text-center ftco-animate">
							<div class="img" style="background-image: url(/views/resources/images/Amal-Ezzat.jpg);"></div>
							<h3>Amal Ezzat</h3>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 ">
						<div class="sort w-100 text-center ftco-animate">
							<div class="img" style="background-image: url(/views/resources/images/Bosy-Mohamed.jpg);"></div>
							<h3>Bosy Mohamed</h3>
						</div>
					</div>
					<div class="col-lg-2 col-md-4 ">
						<div class="sort w-100 text-center ftco-animate">
							<div class="img" style="background-image: url(/views/resources/images/Sheriene-Abas.jpg);"></div>
							<h3>Sheriene Abas</h3>
						</div>
					</div>

				</div><br><br>
            <h1>⚪ checkout our new game from <a href="/GwentGame" target="_blank">here</a></h1>
			</div>
		</section>

  
	<section class="ftco-section testimony-section img" style="background-image: url(/views/resources/images/library.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-center mb-5">
				<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
					<span class="subheading">Booker</span>
					<h2 class="mb-3">Happy Clients</h2>
				</div>
			</div>
			<div class="row ftco-animate">
				<div class="col-md-12">
					<div class="carousel-testimony owl-carousel ftco-owl">
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="fa fa-quote-left"></span></div>
								<div class="text">
									<p class="mb-4">Nothing consoles and comforts like certainty does.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(/views/resources/images/Amit-Kalantri.jpg)"></div>
										<div class="pl-3">
											<p class="name">Amit Kalantri</p>
											<span class="position">Author</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="fa fa-quote-left"></span></div>
								<div class="text">
									<p class="mb-4">It’s not always what is said, but what is left on the plate, that tells
										the true story.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(/views/resources/images/Sarah-Pullen.jpg)"></div>
										<div class="pl-3">
											<p class="name">Sarah Pullen</p>
											<span class="position">Author Of Healthy Profits</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="fa fa-quote-left"></span></div>
								<div class="text">
									<p class="mb-4">A customer talking about their experience with you is worth ten times
										that which you write or say about yourself.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(/views/resources/images/David-J.Greer.jpg)"></div>
										<div class="pl-3">
											<p class="name">David J. Greer</p>
											<span class="position">Computer Science</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="fa fa-quote-left"></span></div>
								<div class="text">
									<p class="mb-4">Capitalize on charm by continually captivating your customer.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(/views/resources/images/Ryan-Lilly.jpg)"></div>
										<div class="pl-3">
											<p class="name">Ryan Lilly</p>
											<span class="position">Businessman</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="fa fa-quote-left"></span></div>
								<div class="text">
									<p class="mb-4">Create wow moments for your prospects and watch you online sentiment
										increase</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(/views/resources/images/Stacey-Kehoe.jpg)"></div>
										<div class="pl-3">
											<p class="name">Stacey Kehoe</p>
											<span class="position">Author Of Get Online Book</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


		<section class="ftco-counter ftco-section ftco-no-pt ftco-no-pb img bg-light" id="section-counter">
    	<div class="container">
    		<div class="row">
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-4 mb-4">
              <div class="text align-items-center">
                <strong class="number" data-number="120">0</strong>
                <span>Toal number of books</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-4 mb-4">
              <div class="text align-items-center">
                <strong class="number" data-number="11">0</strong>
                <span>Common Genres</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-4 mb-4">
              <div class="text align-items-center">
                <strong class="number" data-number="16">0</strong>
                <span>pages</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 py-4 mb-4">
              <div class="text align-items-center">
                <strong class="number" data-number="6">0</strong>
                <span>Recommended Books</span>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>
<%- include('./includes/footer.ejs') %>