<%- include('./includes/header.ejs') %>
<section class="static about-sec">
        <div class="container">
            <br>
            <h3>What is an ISBN?</h3>
            <p>Every published book is given both a 10-digit and a 13-digit ISBN which are unique to that exact edition of the text. The ISBN can be found on the back cover of the text or inside the book on the page containing copyright information. For books that come shrink-wrapped with additional content, the ISBN on the shrink-wrap will be different that the ISBN on the textbook.</p>
            <h3>How can I find the book I’m looking for?</h3>
            <p>Booker’s provides two main ways you can find the product you’re looking for (searching and browsing).</p><ul>
            <li>Searching: You can search for products using keywords contained in the product’s title or description.</li>
            <li>Browsing: You can also filter products by topic and/or content level to browse the available titles.</li></ul>
            
            <h3>What if I can’t find what I need? </h3>
            <p>Even with the search and browse tools available, you sometimes may need help. Give our Member Service Center a call at +2 (066) 3484282 (in the faculty of engineering, port said, EGYPT) or +2 0123456789, or send us an email at Booker@gmail.com.</p>
            <h3>What steps do you take to safeguard my privacy?</h3>
            <p>Your privacy and the security of your information are of the utmost importance to BOOKER. Please review our detailed <a href="privacy-policy.html" target="_blank">Privacy Policy</a>to see what information we collect and how we use it.</p>
            <h3>Do you sell textbooks?</h3>
            <p>Due to copy rights, we only provides Books information to help you find the suitable book for you.  If you wish to purchase textbooks you can search online.
            To ensure you are getting the correct edition, make sure to match ISBNs from your textbook notice.
            </p><br>
        </div>
</section>      
<%- include('./includes/footer.ejs') %>