</div>
</div>
<div class="col-md-3">
    <div class="sidebar-box ftco-animate">
        <div class="categories">
            <h3>Book Gategories</h3>
            <ul class="p-0">
                <li><a href="http://localhost:3000/products/1">ALL Books</a></li>
                <% for(var no_of_elements = 0; no_of_elements <genres.length ; no_of_elements++ ) { %>
                <li><a href="http://localhost:3000/Genres/<%= genres[no_of_elements]%>"><%= genres[no_of_elements]  %></a></li>
                <% } %>
            </ul>
        </div>
    </div>
</div>
</div>
</div>
</section>