<%- include('./includes/header.ejs') %>
<br><br><br>
<h1> Hello Admin, Book Was Added successfuly.  </h1>
<h2> Thank You For trust our website </h2>
<br><br><br>
<%- include('./includes/footer.ejs') %>